<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>Desa Wisata Sangurejo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="preload" as="style" href="http://localhost/build/assets/app-Bm7Z9RJq.css" /><link rel="preload" as="style" href="http://localhost/build/assets/app-CLLlcC51.css" /><link rel="modulepreload" href="http://localhost/build/assets/app-DwaBwTzn.js" /><link rel="stylesheet" href="http://localhost/build/assets/app-Bm7Z9RJq.css" /><link rel="stylesheet" href="http://localhost/build/assets/app-CLLlcC51.css" /><script type="module" src="http://localhost/build/assets/app-DwaBwTzn.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://localhost/img/logo.png">

</head>

<body class="bg-white text-gray-800 font-sans">

    
    <header class="bg-primary text-white shadow sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
        
        <div class="flex items-center space-x-4">
            <img src="http://localhost/img/logo.png" alt="Logo Sangurejo" class="h-10 rounded-full">
            <span class="text-xl font-bold">Desa Wisata Sangurejo</span>
        </div>

        
        <button id="menu-toggle" class="md:hidden text-2xl focus:outline-none">
            <i class="fas fa-bars"></i>
        </button>

        
        <nav id="nav-menu" class="hidden md:flex space-x-6 text-sm">
            <a href="/" class="hover:text-yellow-300">Home</a>
            <a href="/tentangkami" class="hover:text-yellow-300">Tentang Kami</a>
            <a href="#" class="hover:text-yellow-300">Paket Wisata</a>
            <a href="#" class="hover:text-yellow-300">Galeri</a>
            <a href="#" class="hover:text-yellow-300">Kalender</a>
        </nav>
    </div>

    
    <div id="mobile-menu" class="md:hidden hidden bg-teal-700 text-center py-4 space-y-4">
        <a href="#" class="block hover:text-yellow-300">Home</a>
        <a href="#" class="block hover:text-yellow-300">Tentang Kami</a>
        <a href="#" class="block hover:text-yellow-300">Paket Wisata</a>
        <a href="#" class="block hover:text-yellow-300">Galeri</a>
        <a href="#" class="block hover:text-yellow-300">Kalender</a>
    </div>
</header>



    
    <main>
            
    <section class="relative">
        <img src="http://localhost/img/banner.png" alt="Banner Desa" class="w-full h-[600px] object-cover">
        <div class="absolute inset-0 flex items-center justify-center">
            <h1 class="text-5xl font-bold text-white drop-shadow-lg">SELAMAT DATANG</h1>
        </div>
    </section>

    
    <section class="py-24 bg-white">
        <div class="container mx-auto max-w-5xl">
            <h2 class="text-4xl font-bold mb-8 text-gray-900 text-center">Tentang Kami</h2>
            <p class="text-lg text-gray-700 leading-relaxed">
                Desa wisata Sangurejo terletak di Sangurejo, Turi, Kab. Sleman, DI Yogyakarta. Sangurejo merupakan desa
                wisata yang memiliki pemandangan yang indah dengan alam yang sangat asri dan sangat cocok untuk kegiatan
                yang berbasis komunitas atau pelajar.
                <br><br>
                Dibalik terbentuknya Desa Wisata Sangurejo terdapat sejarah yang melandasi. Awalnya masyarakat di Desa
                Sangurejo tidak memiliki angan-angan untuk menjadikan desa Sangurejo menjadi desa wisata. Dulu ini merupakan
                sebuah embung atau waduk yang diberi nama Embung Kaliaji.
                <br><br>
                Pada tahun 2012, dikarenakan pengunjung banyak yang berdatangan dan perkembangan semakin maju, maka diolah
                menjadi suatu destinasi. Kemudian dilaporkan ke Dinas Pariwisata untuk menjadikan destinasi wisata. Pada
                tahun 2014, pengelolaan mulai belajar dari pendatang-pendatang selaku pengelihat wisata, dibuat struktur
                secara perlahan dan mendaftarkan diri ke Dinas Pariwisata sebagai desa wisata pada tahun 2016 dan dipadukan
                dengan Pok Darwis.
                <br><br>
                Desa Wisata Sangurejo ini awalnya merupakan satu keluarga dan kemudian keturunannya menjadi satu kampung.
                Desa wisata ini dibuat menggunakan sumbangan dari dana keistimewaan yang dikelola sehingga terciptanya Desa
                Wisata Sangurejo.
            </p>
        </div>
    </section>

    
    <section class="py-24 bg-white">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl font-bold mb-16 text-gray-900">Aktivitas</h2>

        <div class="relative w-full mx-auto">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas1.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas2.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas3.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas4.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas5.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas1.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas2.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas3.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas4.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                            <div class="swiper-slide">
                            <img src="http://localhost/img/aktivitas5.jpg"
                                class="rounded-[30px] w-[472px] h-[302px] object-cover shadow-xl" />
                        </div>
                                    </div>
                <div class="swiper-pagination mt-6"></div>
            </div>

            
            <div class="flex justify-center items-center gap-6 mt-6">
                <div class="swiper-button-prev relative text-teal-600"></div>
                <div class="swiper-button-next relative text-teal-600"></div>
            </div>
        </div>
    </div>
</section>

    </main>

    
    <footer class="bg-primary text-white py-8">
    <div class="container mx-auto text-center space-y-4">
        <h2 class="text-lg font-semibold">Ikuti Kami Untuk Informasi Lainnya</h2>
        <div class="flex justify-center gap-10 text-xl">
            <a href="mailto:info@sangurejo.com" class="flex items-center gap-2 hover:text-yellow-300 transition">
                <i class="fas fa-envelope"></i> Email
            </a>
            <a href="https://www.instagram.com/sangurejo" target="_blank"
                class="flex items-center gap-2 hover:text-yellow-300 transition">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="https://wa.me/6281234567890" target="_blank"
                class="flex items-center gap-2 hover:text-yellow-300 transition">
                <i class="fab fa-whatsapp"></i> Whatsapp
            </a>
        </div>
    </div>
</footer>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script>
        const swiper = new Swiper('.mySwiper', {
            loop: true,
            centeredSlides: true,
            slidesPerView: 3,
            spaceBetween: 30,
            initialSlide: 2,
            effect: 'coverflow',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows: false,
                scale: 1,
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                640: {
                    slidesPerView: 1.5,
                },
                1024: {
                    slidesPerView: 3,
                }
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.getElementById('menu-toggle');
            const mobileMenu = document.getElementById('mobile-menu');

            menuToggle.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
</body>

</html>
